<md-content class="md-padding stafflax-listing" layout="row">
    <div flex layout="column">
        <md-list>
            <md-subheader class="md-no-sticky overview-header">Tracks</md-subheader>
            <form ng-submit="ctrl.addToDo()">
            <md-input-container>
                <label>New Todo...</label>
                <input ng-model="ctrl.newTodo">
            </md-input-container>
            <md-list-item ng-repeat="track in ctrl.items">
                <div class="md-list-item-text">{{track.title}}</div>
            </md-list-item>
        </md-list>
    </div>
    <div flex layout="column">
        <md-list>
            <md-subheader class="md-no-sticky overview-header">Drills</md-subheader>
            <md-list-item ng-repeat="track in ctrl.items">
                <div class="md-list-item-text">{{track.title}}</div>
            </md-list-item>
        </md-list>
    </div>
    <div flex layout="column">
        <md-list>
            <md-subheader class="md-no-sticky overview-header">People</md-subheader>
            <md-list-item ng-repeat="track in ctrl.items">
                <div class="md-list-item-text">{{track.title}}</div>
            </md-list-item>
        </md-list>
    </div>
    <div flex layout="column">
        <md-list>
            <md-subheader class="md-no-sticky overview-header">Schedule</md-subheader>
            <md-list-item ng-repeat="track in ctrl.items">
                <div class="md-list-item-text">{{track.title}}</div>
            </md-list-item>
        </md-list>
    </div>
</md-content>
