<md-content class="md-padding stafflax-listing" layout="row">
    <div flex layout="column">
        <md-list>
            <md-subheader class="md-no-sticky overview-header">Tracks</md-subheader>
            <form ng-submit="ctrl.addTrack()">
                <md-input-container>
                    <label>New track...</label>
                    <input ng-model="ctrl.newTrack">
                </md-input-container>
            </form>
            <md-list-item ng-repeat="track in ctrl.items">
                <a class="md-list-item-text"
                   ui-sref="tracks.view({name: track.name})">{{track.title}}</a>
                <md-button ng-click="ctrl.remove(track)">remove</md-button>
            </md-list-item>
        </md-list>
    </div>
    <div flex layout="column">
        <md-list>
            <md-subheader class="md-no-sticky overview-header">Drills</md-subheader>
            <md-list-item ng-repeat="track in ctrl.items">
                <div class="md-list-item-text">{{track.title}}</div>
            </md-list-item>
        </md-list>
    </div>
    <div flex layout="column">
        <md-list>
            <md-subheader class="md-no-sticky overview-header">People</md-subheader>
            <md-list-item ng-repeat="track in ctrl.items">
                <div class="md-list-item-text">{{track.title}}</div>
            </md-list-item>
        </md-list>
    </div>
    <div flex layout="column">
        <md-list>
            <md-subheader class="md-no-sticky overview-header">Schedule</md-subheader>
            <md-list-item ng-repeat="track in ctrl.items">
                <div class="md-list-item-text">{{track.title}}</div>
            </md-list-item>
        </md-list>
    </div>
</md-content>
