<md-content class="md-padding stafflax-listing" layout="row">
    <div flex layout="column">
        <md-list>
            <md-subheader class="md-no-sticky overview-header">Skills</md-subheader>
            <form ng-submit="ctrl.addSkill()">
                <md-input-container>
                    <label>New skill...</label>
                    <input ng-model="ctrl.newSkill">
                </md-input-container>
            </form>
            <md-list-item ng-repeat="skill in ctrl.items">
                <a class="md-list-item-text"
                   ui-sref="skills.view({name: skill.name})">{{skill.title}}</a>
                <md-button ng-click="ctrl.remove(skill)">remove</md-button>
            </md-list-item>
        </md-list>
    </div>
</md-content>
