<md-content class="md-padding stafflax-listing" layout="row">
    <div layout="column" flex="33">
        <div layout="row">
            <h1 class="md-display-1">Skills</h1>
            <span flex></span>
            <md-button ui-sref="skills.add" aria-label="Add">
                <ng-md-icon icon="add" style="padding-top: 2em"></ng-md-icon>
            </md-button>
        </div>
        <md-list>
            <md-list-item ng-repeat="skill in ctrl.items">
                <a class="md-list-item-text"
                   ui-sref="skills.view({name: skill.name})">{{skill.title}}</a>
                <span flex></span>
                <md-button class="md-primary" ng-click="ctrl.remove(skill)" aria-label="Delete">
                    <ng-md-icon icon="delete" size="16"></ng-md-icon>
                </md-button>
            </md-list-item>
        </md-list>
    </div>
</md-content>
